<div class="container">
    <div class="row">
        <img class="col justify-content-center" [src]="produit.nomImage" width="250px" height="250px">
        <div class="col">
            <a class="row">nom: {{user.nom}}</a>
            <a class="row">prenom : {{user.prenom}}</a>
            <a class="row">password: {{user.password}}</a>
            <a class="row">adresse : {{user.adresse}}</a>
            <a class="row">telephone : {{user.telephone}} €</a>
        </div>
        <div class="col">
           
            <!-------------------------Si c'est un administrateur------------------------->

            <div *ngIf="visiteur.aLeRole('ROLE_ADMINISTRATEUR')">
                <button routerLink="/collegue/modifier">Modifier</button>

              