<div>
    <div class="container">
        <div class="row bottom-border">
            <div class="offset-3 col-3">Produit</div>
            <div class="col-3">Prix</div>
            <div class="col-2">Quantité</div>
            <div class="col-1">Retirer</div>
        </div>
        <div class="row bottom-border" *ngFor="let elem of valuePanier">
            <div class="col-3">
                <img class="img-fluid" [src]="elem[0].nomImage" alt="image produit">
            </div>
            <div class="col-3 text-panier text-panier">{{elem[0].nomFigurine}}</div>
            <div class="col-3 text-panier">{{elem[0].prix}}€</div>
            <div class="col-2 text-panier">
                <div class="md-form">
                    <input mdbInputDirective (change)="modifierProduit(elem)" type="number" name="qte" id="form1"
                        [(ngModel)]="elem[1]" class="form-control">
                </div>
            </div>
            <div class="col-1 text-panier">
                <a (click)="supprimerProduit(elem)">X</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9">
                <h2>Total= {{total}} €</h2>
            </div>
        </div>
    </div>
</div>