<div class="container border">
    <div class="row align-items-center">
        <img class="col-3 justify-content-center" src="{{produit.nomImage}}">
        <div class="col-3">
            <a class="row">Saga : {{produit.nomSaga}}</a>
            <a class="row">figurine : {{produit.nomFigurine}}</a>
            <a class="row">Description : {{produit.description}}</a>
            <a class="row">numeroFigurine : {{produit.numeroFigurine}}</a>
            <a class="row">Prix : {{produit.prix}} €</a>
        </div>
        <div class="col-6">
            <div class="row">
                <input class="row" [(ngModel)]="qte" type="number" placeholder="Quantité">
                <button class="row" (click)="ajouterProduit()">Ajouter au panier</button>
            </div>

            <!-------------------------Si c'est un administrateur------------------------->
            <div class="col-3 text-right" *ngIf="visiteur.estAdmin()">
                <div class="row-1">
                        <button class="col btn btn-primary btn-sm fa fa-pencil" aria-hidden="true" routerLink="/gestion-produit/modif-produit/{{produit.nomFigurine}}"></button>
                        <button class="col btn btn-danger btn-sm fa fa-trash" aria-hidden="true" (click)="supprimer()"routerLink="/gestion-produit"></button>
                </div>
                <button class="row-1  btn btn-sm">Activer/Desactiver</button>
            </div>

        </div>
    </div>
</div>