<div class="container border">
    <div class="row align-items-center">
        <img class="col-3 justify-content-center" src="{{produit.nomImage}}">
        <div class="col-3">
            <a class="row">Saga : {{produit.nomSaga}}</a>
            <a class="row">figurine : {{produit.nomFigurine}}</a>
            <a class="row">Description : {{produit.description}}</a>
            <a class="row">numeroFigurine : {{produit.numeroFigurine}}</a>
            <a class="row">Prix : {{produit.prix}} €</a>
        </div>
        <div class="col-6">
            <div class="row">
                <input class="col" [(ngModel)]="qte" type="number" placeholder="Quantité">
                <button type="button" mdbBtn color="primary" class="col btn-sm" (click)="ajouterProduit()" (click)="basicModal.show()">Ajouter au panier</button>
            </div>

            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title w-100" id="myModalLabel">Votre produis a bien été ajouté au panier</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                                        (click)="basicModal.hide()" mdbWavesEffect routerLink="/accueil">Continuer achat</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" mdbBtn color="primary" class="relative waves-light"
                                        mdbWavesEffect routerLink="/panier">Voire panier</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------------Si c'est un administrateur------------------------->
            <div class="col-3 text-right" *ngIf="visiteur.estAdmin()">
                <div class="row-1">
                    <button class="col btn btn-primary btn-sm fa fa-pencil" aria-hidden="true" routerLink="/gestion-produit/modif-produit/{{produit.nomFigurine}}"></button>
                    <button class="col btn btn-danger btn-sm fa fa-trash" aria-hidden="true" (click)="supprimer()"
                        routerLink="/gestion-produit"></button>
                </div>
                <button class="row-1  btn btn-sm">Activer/Desactiver</button>
            </div>
            
        </div>
    </div>
</div>