<!-------------------------formulaire d'inscription------------------------->
{{verifPassWord}}
<form (ngSubmit)="submit()" #monForm="ngForm" class="text-center border border-light p-5">

    <p class="h4 mb-4">Inscription</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" name="prenom" [(ngModel)]="monModel.prenom" class="form-control"
                placeholder="prenom">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" name="nom" [(ngModel)]="monModel.nom" class="form-control"
                placeholder="Nom">
        </div>
        <div class="col">
            <!-- date naissance -->
            <input type="date" id="defaultRegisterFormDate" name="dateN" [(ngModel)]="monModel.dateN" class="form-control"
                placeholder="date">
        </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" name="email" [(ngModel)]="monModel.email" class="form-control mb-4"
        placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" name="password" [(ngModel)]="monModel.password" class="form-control"
        placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        Au moins 8 caractères et 1 chiffre
    </small>

    <input type="password" id="defaultRegisterFormPasswordconfirm" [(ngModel)]="verif" name="passwordVerif" class="form-control mb-4"
        placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

    <!-- Adresse -->
    <input type="text" id="defaultRegisterAdress" name="adress" [(ngModel)]="monModel.adress" class="form-control"
        placeholder="Adresse" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        Adresse de livréson
    </small>

    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" name="phone" [(ngModel)]="monModel.phone" class="form-control mb-4"
        placeholder="Telephone" aria-describedby="defaultRegisterFormPhoneHelpBlock">


    <input class="form-control" type="file" placeholder="Upload your file" (change)="onFileChanged($event)">

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" [disabled]="!monForm.valid" type="submit">Sign in</button>

    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>. </p>

</form>
<!-- Default form register -->
<!-- <img src="{{img}}" > -->