<div class="container">
  <img class="img-fluid" src="{{produit.nomImage}}" routerLink="/details-produits/{{produit.nomFigurine}}">
  <div class="row">
    <div class="col-4" routerLink="/details-produits/{{produit.nomFigurine}}">
      <a class="row">
        Saga : {{produit.nomSaga}}
      </a>
      <a class="row">
        figurine : {{produit.nomFigurine}}
      </a>
      <a class="row">
        Prix : {{produit.prix}} €
      </a>
    </div>

    <!-------------------------Si c'est un administrateur------------------------->
    <div *ngIf="visiteur.aLeRole('ROLE_ADMINISTRATEUR')">
      <button routerLink="/gestion-produits/modifier-produit">Modifier</button>
      <button>Supprimer</button>
      <button>Activer/Desactiver</button>
    </div>

    <!-------------------------Si c'est un visiteur/utilisateur------------------------->
    <div class="col-8" *ngIf="visiteur.estAnonyme() || visiteur.aLeRole('ROLE_UTILISATEUR')">
      <a class="row"></a>
      <input class="row" type="number" [(ngModel)]="qte" placeholder="Quantité">
      <button class="row" (click)="ajouterProduit()">Ajouter au panier</button>
    </div>
  </div>
</div>
