<div class="container border">
  <img class="row" [src]="produit.nomImage">
  <div class="row">
    <div class="col-4">
      <a class="row">
        Saga : {{produit.nomSaga}}
      </a>
      <a class="row" routerLink="/details-produits/{{produit.nomFigurine}}" name="figurine ">
        {{produit.nomFigurine}}
      </a>
      <a class="row">
        Prix : {{produit.prix}} €
      </a>
    </div>

    <div class="col-8" *ngIf="visiteur.estAnonyme() || visiteur.aLeRole('ROLE_UTILISATEUR')">
      <button>Ajouter au panier</button>
    </div>
    <div class="col-8" *ngIf="visiteur.aLeRole('ROLE_ADMINISTRATEUR')">
      <button>Modifier</button>
      <button>Supprimer</button>
      <button>Activer/Desactiver</button>
    </div>
  </div>
</div>