<!-- https://static.fnac-static.com/multimedia/Images/FR/NR/42/df/75/7724866/1540-1/tsp20160104164612/Figurine-Funko-Pop-Harry-Potter-10-cm.jpg -->
 <img  [src]="produit.nomImage" >
<div> 
<br>
<a>
  Saga : {{produit.nomSaga}}
</a>
<br>
<a routerLink="/details-produits/{{produit.nomFigurine}}" name = "figurine ">  {{produit.nomFigurine}} </a>
<br>
<a> Prix : {{produit.prix}} €</a>
<br>
</div>



<img [src]="produit.nomImage">
<div>
  <a>
    Saga : {{produit.nomSaga}}
  </a>
  <br>
  <a routerLink="/details-produits/{{produit.nomFigurine}}">  {{produit.nomFigurine}} </a>
  <br>
  <a> Prix: {{produit.prix}} €</a>
  <br>
</div>

